body {
    font-family: 'Merriweather', serif;
    margin: 0;
}

.section-1 {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;
    height: 500%;
    width: 100%;
}

.donate-now {
    text-align: center;
    padding-bottom: 10%;
    padding-top: 10%;
    color: white;
}

.donate-now h1 {
    font-size: 40px;
    font-weight: 900;
}

.donate-now p {
    padding-bottom: 20px;
    font-size: 13px;
}

.donate-now a {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    border-radius: 50px;
}

.donate-today {
    text-align: center;
}

.donate-today h1 {
    font-size: 27px;
    font-weight: 900;
    padding-top: 6%;
}

.donate-today P {
    font-size: 12px;
    color: rgb(113, 110, 110);
}

.taka-1 {
    display: flex;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.Taka {
    padding: 3%;
    background-color: whitesmoke;
    margin: 2%;
    border-radius: 5px;
    font-size: 23px;
    font-weight: bold;
    color: rgb(93, 87, 87);
}

#donate-200 {
    padding: 3%;
    margin: 2%;
    background-color: pink;
    border: 2px solid tomato;
    border-radius: 5px;
    font-size: 23px;
    font-weight: bold;
    color: rgb(223, 65, 38);
}

.form-area {
    border: 0;
    outline: 0;

    margin-left: 50%;
    margin-right: 50%;
}

hr {
    margin-left: 17%;
    margin-right: 20%;
    margin-bottom: 4%;
}

.donate-taka {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    border-radius: 50px;
    margin-left: 49%;
}

.out-donate-plan {
    text-align: center;
    margin-left: 9%;
    margin-top: 4%;
}

.out-donate-plan p {
    font-size: 13px;
    color: rgb(104, 99, 99);
}

.helpless-people {
    display: flex;
    margin-bottom: 5%;
}

.helpless-people p {
    color: #707070;
}

.food {
    width: 50%;
    text-align: justify;
    margin-left: 10%;
    margin-right: 1%;
    background-color: #ff595944;
    padding: 10px;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 5px;
}

.medicine {
    width: 50%;
    text-align: justify;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #4f9da65a;
    padding: 10px;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 5px;
}

.education {
    width: 50%;
    text-align: justify;
    margin-left: 1%;
    margin-right: 10%;
    background-color: rgba(240, 202, 202, 0.713);
    padding: 10px;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 5px;
}

.how-to-contribute {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    border-radius: 15px;

}

.section-4 {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

.lives-depend {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.lives-depend img {
    width: 87%;
    border-radius: 5px;
}

.lives-depend h1 {
    font-size: 35px;
}

.lives-depend p {
    text-align: justify;
    color: #707070;
    padding-bottom: 15px;
}

.get-my-update {
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.get-my-update h1 {
    font-size: 35px;
}

.get-my-update p {
    font-size: 13px;
    color: #707070;
}

.e-mail-box {
    background-color: rgba(255, 207, 215, 0.532);
    padding: 50px;
}

.e-mail-box input {
    padding: 1%;
    border: 0;
    outline: 0;
    background-color: #d1d1d1;
    border-radius: 3px;
}

.e-mail-box button {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 0;
    outline: 0;
    color: white;
    background-color: #FF5959;
    border-radius: 3px;
}

footer {
    background-color: #0B0D17;
    text-align: center;
    padding: 15px;

}

footer h1 {
    color: #FF5959;
    font-style: italic;
}

footer p {
    color: white;
    font-size: 12px;
}